<%- include("partials/header"); %>

<h1>Compose</h1>
<form action="" method="POST">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" name="postTitle" class="form-control">
        <label for="postBody">Post</label>
        <textarea name="postBody" id="" cols="30" rows="10" class="form-control"></textarea>
        <button type="submit" name="button" class="btn btl-lg btn-primary">Publish</button>
    </div>
</form>
<%- include("partials/footer"); %>